<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
  <p>
    <strong>Icon:</strong>
    <img style="width:10%" src="<%=category.icon%>" alt="icon"/>
  </p>
  <p>
    <strong>Total amount:</strong>
    <%= total_amount_helper(Expense.all.where(category_id:category.id)) %>
  </p>
</div>
